In [2]:
from responsibly.dataset import COMPASDataset
from responsibly.dataset import GermanDataset

unable to import 'smart_open.gcs', disabling that module

In [3]:
compasdf = COMPASDataset().df
germandf = GermanDataset().df

/home/shiv/stuff/causalInference/env/lib/python3.8/site-packages/responsibly/dataset/german/__init__.py:83: FutureWarning: Columnar iteration over characters will be deprecated in future releases.

In [17]:
compasdf.columns

Index(['id', 'name', 'first', 'last', 'compas_screening_date', 'sex', 'dob',
       'age', 'age_cat', 'race', 'juv_fel_count', 'decile_score',
       'juv_misd_count', 'juv_other_count', 'priors_count',
       'days_b_screening_arrest', 'c_jail_in', 'c_jail_out', 'c_case_number',
       'c_offense_date', 'c_arrest_date', 'c_days_from_compas',
       'c_charge_degree', 'c_charge_desc', 'is_recid', 'r_case_number',
       'r_charge_degree', 'r_days_from_arrest', 'r_offense_date',
       'r_charge_desc', 'r_jail_in', 'r_jail_out', 'violent_recid',
       'is_violent_recid', 'vr_case_number', 'vr_charge_degree',
       'vr_offense_date', 'vr_charge_desc', 'type_of_assessment',
       'decile_score.1', 'score_text', 'screening_date',
       'v_type_of_assessment', 'v_decile_score', 'v_score_text',
       'v_screening_date', 'in_custody', 'out_custody', 'priors_count.1',
       'start', 'end', 'event', 'two_year_recid', 'length_of_stay',
       'score_factor', 'y_pred'],
      dtype='object')

In [20]:
print(min(compasdf.compas_screening_date),max(compasdf.compas_screening_date))

2013-01-01 2014-12-31

In [26]:
print("Min, max: ",min(compasdf.age),max(compasdf.age))
print("#Unique ages: ",len(compasdf['age'].value_counts()))
print("Age frequencies", compasdf['age'].value_counts())

Min, max:  18 96
#Unique ages:  65
Age frequencies 24    315
21    286
23    285
25    285
26    281
     ...
73      1
79      1
78      1
75      1
18      1
Name: age, Length: 65, dtype: int64

In [29]:
print(compasdf.age_cat.value_counts())
# expand age categories to 6 with a span of 10 years each, and the rest above.

25 - 45            3532
Less than 25       1347
Greater than 45    1293
Name: age_cat, dtype: int64

In [31]:
print(compasdf.juv_fel_count.value_counts())
#Too sparse for any useful information

0     5964
1      139
2       37
3       13
4        9
5        4
6        2
8        2
10       1
20       1
Name: juv_fel_count, dtype: int64

In [33]:
print(compasdf.decile_score.value_counts())

1     1286
2      822
4      666
3      647
5      582
6      529
7      496
9      420
8      420
10     304
Name: decile_score, dtype: int64

In [34]:
print(compasdf.juv_misd_count.value_counts())

0     5820
1      248
2       60
3       23
4        7
5        5
6        4
8        3
13       1
12       1
Name: juv_misd_count, dtype: int64

In [35]:
print(compasdf.juv_other_count.value_counts())

0    5711
1     326
2      85
3      30
4      12
5       4
7       2
6       1
9       1
Name: juv_other_count, dtype: int64

In [56]:
print(len((compasdf.c_jail_out - compasdf.c_jail_in).dt.days.value_counts()))
print((compasdf.c_jail_out - compasdf.c_jail_in).dt.days.value_counts())
# bin sizes: <1 day,1 day, 2-7 days, 8-15, 16-30, >30

241
 0      2017
 1      1584
 2       424
 3       188
-1       183
        ...
 158       1
 162       1
 170       1
 182       1
 799       1
Length: 241, dtype: int64

In [5]:
print(compasdf.c_days_from_compas.value_counts())

1.0       4336
0.0        869
2.0        210
3.0         97
4.0         80
          ...
154.0        1
3853.0       1
261.0        1
2302.0       1
2022.0       1
Name: c_days_from_compas, Length: 153, dtype: int64

In [61]:
print(compasdf.r_charge_degree.value_counts())

(M1)     1041
(M2)      965
(F3)      759
(F2)      140
(F1)       43
(MO3)      29
(F7)        7
(F6)        3
(CO3)       2
(F5)        1
Name: r_charge_degree, dtype: int64

In [69]:
print(compasdf.violent_recid.value_counts())

Series([], Name: violent_recid, dtype: int64)

In [71]:
print(compasdf.type_of_assessment.value_counts())

Risk of Recidivism    6172
Name: type_of_assessment, dtype: int64

In [72]:
print(compasdf.vr_charge_degree.value_counts())

(M1)     296
(F3)     189
(F2)     131
(F1)      35
(F7)      17
(M2)      17
(MO3)      3
(F6)       3
(F5)       1
Name: vr_charge_degree, dtype: int64

In [85]:
compasdf[['decile_score.1','score_text']]

      decile_score.1 score_text
0                  1        Low
1                  3        Low
2                  4        Low
5                  1        Low
6                  6     Medium
...              ...        ...
7209               7     Medium
7210               3        Low
7211               1        Low
7212               2        Low
7213               4        Low

[6172 rows x 2 columns]

In [76]:
print(compasdf.screening_date)

0       2013-08-14
1       2013-01-27
2       2013-04-14
5       2013-11-30
6       2014-02-19
           ...
7209    2013-11-23
7210    2014-02-01
7211    2014-01-14
7212    2014-03-09
7213    2014-06-30
Name: screening_date, Length: 6172, dtype: object

In [88]:
compasdf[['v_decile_score','v_score_text']]

      v_decile_score v_score_text
0                  1          Low
1                  1          Low
2                  3          Low
5                  1          Low
6                  2          Low
...              ...          ...
7209               5       Medium
7210               5       Medium
7211               1          Low
7212               2          Low
7213               4          Low

[6172 rows x 2 columns]

In [86]:
compasdf[['in_custody', 'out_custody', 'priors_count.1']]

      in_custody out_custody  priors_count.1
0     2014-07-07  2014-07-14               0
1     2013-01-26  2013-02-05               0
2     2013-06-16  2013-06-16               4
5     2013-11-30  2013-12-01               0
6     2014-03-31  2014-04-18              14
...          ...         ...             ...
7209  2013-11-22  2013-11-24               0
7210  2014-01-31  2014-02-02               0
7211  2014-01-13  2014-01-14               0
7212  2014-03-08  2014-03-09               3
7213  2015-03-15  2015-03-15               2

[6172 rows x 3 columns]

In [90]:
compasdf[['start', 'end', 'event', 'two_year_recid', 'length_of_stay',
       'score_factor', 'y_pred']]

      start  end  event  two_year_recid   length_of_stay score_factor  y_pred
0         0  327      0               0  0 days 23:37:38     LowScore   False
1         9  159      1               1 10 days 01:51:26     LowScore   False
2         0   63      0               1  1 days 02:03:30     LowScore   False
5         1  853      0               0  1 days 07:38:38     LowScore   False
6         5   40      1               1  6 days 07:10:06    HighScore    True
...     ...  ...    ...             ...              ...          ...     ...
7209      1  860      0               0  1 days 21:40:53    HighScore    True
7210      1  790      0               0  1 days 20:49:58     LowScore   False
7211      0  808      0               0  1 days 02:01:45     LowScore   False
7212      0  754      0               0  1 days 04:12:02     LowScore   False
7213      0  258      0               1  1 days 23:02:42     LowScore   False

[6172 rows x 7 columns]

In [107]:
removed_compas_columns = ['id','name','first','last','dob','age','juv_fel_count','juv_misd_count',
                          'juv_other_count','c_jail_in','c_jail_out','c_case_number','c_days_from_compas',
                          'c_charge_desc','r_case_number','r_charge_desc','r_days_from_arrest','r_jail_in',
                          'r_jail_out','violent_recid','vr_case_number','v_type_of_assessment','type_of_assessment',
                          'decile_score','decile_score.1','v_decile_score','v_screening_date','start', 'end', 
                          'event','vr_charge_desc','c_offense_date', 'c_arrest_date','r_offense_date',
                          'screening_date','is_violent_recid']
derived_compas_columns = ['c_jail_time','c_offense_date', 'c_arrest_date','r_offense_date','r_jail_time',
                          'screening_date','decile_score_text','violent_custody_time', 'length_of_stay']

#datetime.round('H')

# r/c_jail_time = r/c_jail_out-r/c_jail_in rounded to days with bins <1 day,1 day, 2-7 days, 8-15, 16-30, >30
# offence and arrest dates, screening date binned by month, year
# decile_score_text = bins of low (1-4), med(5-7) and high
# violent_custody_time = out_custody - in_custody binned by similar to r/c jail time
# length of stay rounded to dasy, binned similar to jail time

In [108]:
compas_columns = [i for i in list(compasdf.columns) if i not in list(removed_compas_columns)] + derived_compas_columns
print(compas_columns)

['compas_screening_date', 'sex', 'age_cat', 'race', 'priors_count', 'days_b_screening_arrest', 'c_charge_degree', 'is_recid', 'r_charge_degree', 'vr_charge_degree', 'vr_offense_date', 'score_text', 'v_score_text', 'in_custody', 'out_custody', 'priors_count.1', 'two_year_recid', 'length_of_stay', 'score_factor', 'y_pred', 'c_jail_time', 'c_offense_date', 'c_arrest_date', 'r_offense_date', 'r_jail_time', 'screening_date', 'decile_score_text', 'violent_custody_time', 'length_of_stay']